main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tip {
  font-size: 12px;
  margin-top: 0.5rem;
  color: var(--secondary-text-color);
  padding-left: .5rem;
}
p-card {
  width: 100%;
  max-width: 400px;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}
header h2 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
input, button, p-password {
  display: block;
}
input, p-password {
  width: 100%;
  margin-top: 0.4rem;
}

::ng-deep p-password {
  div, input {
    width: 100%;
  }
}

button {
  margin-top: 2rem;
  width: 100%;
}
