/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/aura-dark-noir/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html, body {
  margin: 0;
  padding: 0;
}

ul.form-errors {
  padding-left: 1rem;
  margin: 0;
  margin-top: .4rem;
  li {
    color: crimson;
    font-size: 0.8rem;
    font-style: italic;
  }
}

// .p-password.p-inputwrapper {
//   width: 100%;

//   input {
//     width: 100%;
//   }
// }
